/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  overflow-y: scroll; /* Keep scrolling functionality */
}
/* file: custom.css hoặc global.css */
header,
.header {
  background: linear-gradient(to right, #174ea6, #5bb0f7) !important;
  font-family: inherit !important;
  z-index: 50;
}
